* {
  @include box-sizing(border-box);
}

body {
  background: image-url("bg.jpg") left top;
  font-size: 16px;
}

.stock,
.waste {
  height: 14em;
}

.pile,
.stock,
.tableu,
.waste {
  display: inline-block;
  width: 14.2%;
}