* {
  @include box-sizing(border-box);
}

body {
  background: image-url("felt.jpg") left top;
  font-size: 17px;
}

.stock,
.foundation,
.waste {
  display: inline-block;
  height: 14em;
}

.foundation,
.stock,
.tableu,
.waste {
  display: inline-block;
  width: 14%;
}