@import "compass/css3/user-interface";

$card-color: #F5F5F5;
$card-height: 14em;
$card-shadow-color: #DDD;
$card-width: 10em;

.card {
  @include perspective(1000);
  @include user-select(none);
  cursor: default;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: $card-height;
  left: 0;
  position: absolute;
  top: 0;
  width: $card-width;
  z-index: 10;

  &.revealed .flipper {
    @include rotateY(180deg);
  }

  .flipper {
    @include transition-duration(0.4s);
    @include transition-timing-function(ease-out);
    @include transform-style(preserve-3d);
    position: relative;
  }

  &.heart,
  &.diamond {
    color: #df0000;
  }

  %card-side {
    @include backface-visibility(hidden);
    @include border-radius(0.5em);
    height: $card-height;
    left: 0;
    position: absolute;
    top: 0;
    width: $card-width;
  }

  &.ui-draggable-dragging %card-side {
    @include single-box-shadow(rgba(0, 0, 0, 0.5), 0, 0, 0.5em);
  }

  .front {
    @extend %card-side;
    background-color: $card-color;
    @include background-image(linear-gradient(left top, $card-color 50%, $card-shadow-color 100%));
    @include rotateY(180deg);
    z-index: 20;

    .corner {
      line-height: 1;
      position: absolute;
      text-align: center;

      span {
        display: block;
        font-size: 1.5em;
      }

      .number {
        font-size: 1.4em;
        font-weight: bold;
      }

      &.top {
        left: 0.4em;
        top: 0.5em;
      }

      &.bottom {
        @include rotate(180deg);
        bottom: 0.5em;
        right: 0.4em;
      }
    }

    .suit {
      font-size: 3em;
      font-weight: normal;
      height: 1em;
      position: absolute;
      text-align: center;
      width: 1em;

      &.top {
        top: 0.3em;
      }

      &.under-top {
        top: 1em;
      }

      &.over-middle {
        top: 1.3em;
      }

      &.middle {
        top: 1.8em;
      }

      &.under-middle {
        @include rotate(180deg);
        bottom: 1.3em;
      }

      &.over-bottom {
        @include rotate(180deg);
        bottom: 1em;
      }

      &.bottom {
        @include rotate(180deg);
        bottom: 0.3em;
      }

      &.left {
        left: 0.5em;
      }

      &.center {
        left: 1.16em;
      }

      &.right {
        right: 0.5em;
      }
    }
  }

  .back {
    @extend %card-side;
    // http://ptrn.it/TZjjc4
    //background: $card-color url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAS0lEQVQYV2NkgAIW+57/MDYy/edgCSOIDyZwKYYpAisEmYQsADMZXQysEKQDJoFLI1whzHpspsOtJqQIRSG6SchOIc0zRAcPsQEOAOC2Qt8fLssgAAAAAElFTkSuQmCC);
    background: $card-color image-url("card_pattern.svg");
    background-size: 2em;
    border: 0.4em solid $card-color;
    z-index: 30;
  }
}
