// Copyright 2012 Ofir Picazo. All Rights Reserved.

/**
 * @fileoverview Board styles and positions.
 *
 * @author ofirpicazo@gmail.com (Ofir Picazo)
 */

@import "compass/css3/user-interface";

$board-margin: 1em;
$controlbar-height: 3em;
$pile-height: 14em;
$pile-width: 10em;
$pile-left-offset: $pile-width + 2em; // 1em of padding on each side.
$text-shadow-color: #333;

* {
  @include box-sizing(border-box);
  @include user-select(none);
  cursor: default;
}

@font-face {
  font-family: "Rambla";
  font-style: normal;
  font-weight: 400;
  src: local("Rambla"), local("Rambla-Regular"), font-url("rambla.woff") format("woff");
}
@font-face {
  font-family: "Rambla";
  font-style: normal;
  font-weight: 700;
  src: local("Rambla Bold"), local("Rambla-Bold"), font-url("rambla_bold.woff") format("woff");
}

body {
  background: #518906 image-url("felt.jpg") left top;
  font-family: "Rambla", sans-serif;
  font-size: 10px;
  position: relative;
}

.topbar {
  @include single-box-shadow(0, -1.5em, 4em, 0, rgba(0, 0, 0, 0.4), true);
  background: image-url("felt.jpg") left top;
  border-bottom: 3px solid rgba(0,0,0,0.4);
  color: #F5F5F5;
  height: $controlbar-height;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  & h1 {
    font-size: ($controlbar-height / 3) * 2;  // 2/3rds of the bar height
    font-weight: bold;
    float: left;
    line-height: $controlbar-height / 2;
    margin: 0 1em;
    text-shadow: 1px 1px 2px $text-shadow-color;
  }
}

.controls {
  float: left;

  .button {
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.2);
    color: #F5F5F5;
    cursor: pointer;
    display: inline-block;
    font-family: "Rambla", sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    line-height: $controlbar-height / 2;

    &:focus,
    &:hover {
      background-color: rgba(64, 64, 64, 0.2);
      color: #F5F5F5;
    }
  }
}

.score {
  @include border-radius(1em);
  @include perspective(1000);
  @include single-box-shadow(0, 0, 0.5em, 0, rgba(30, 30, 30, 0.8), true);
  font-size: 1.5em;
  font-weight: bold;
  left: 49.5em;
  line-height: $controlbar-height / 2;
  padding: 0 0.8em;
  position: absolute;
  text-shadow: 1px 1px 2px $text-shadow-color;
  top: 0.2em;

  #score-value {
    @include transition-duration(300ms);
    @include transition-timing-function(ease-out);
    @include transform-style(preserve-3d);
    display: inline-block;
    position: relative;

    &.rotated {
      @include rotateX(360deg);
    }
  }
}

#board {
  left: 0;
  position: relative;
  top: $controlbar-height + $board-margin;
}

.pile {
  @include border-radius(0.5em);
  @include single-box-shadow(0, 0, 0.5em, 0, rgba(0, 0, 0, 0.8), true);
  background-color: rgba(255, 255, 255, 0.1);
  display: block;
  height: $pile-height;
  position: absolute;
  width: $pile-width;
  z-index: 10;

  &.droptarget {
    background-color: rgba(255, 255, 255, 0.15);
  }
}

%top-row {
  top: $board-margin;
}

%bottom-row {
  top: $pile-height + 4em;
}

#stock {
  @extend %top-row;
  cursor: pointer;
  display: table;
  left: $board-margin;
  text-align: center;

  .restock {
    @include transition-duration(0.3s);
    @include transition-property(color);
    color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    display: table-cell;
    font-size: 7em;
    vertical-align: middle;
  }

  &:hover .restock {
    color: rgba(255, 255, 255, 0.5);
  }
}

#waste {
  @extend %top-row;
  left: $board-margin + $pile-left-offset;
}

.foundation {
  @extend %top-row;
}

.tableu {
  @extend %bottom-row;
}

@for $i from 1 through 4 {
  $left-offset: $pile-left-offset * 3;
  #foundation-#{$i} {
    left: $board-margin + $left-offset + ($pile-left-offset * ($i - 1));
  }
}

@for $i from 1 through 7 {
  #tableu-#{$i} {
    left: $board-margin + ($pile-left-offset * ($i - 1));
  }
}
