/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_board.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5, ../sass/_board.scss */
body {
  font-size: 14px;
}

/* line 1, ../sass/_cards.scss */
.card {
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  -webkit-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
  background-color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  float: left;
  height: 14em;
  margin: 20px;
  position: relative;
  width: 10em;
}
/* line 13, ../sass/_cards.scss */
.card.heart, .card.diamond {
  color: #df0000;
}
/* line 17, ../sass/_cards.scss */
.card .corner {
  line-height: 1;
  position: absolute;
  text-align: center;
}
/* line 23, ../sass/_cards.scss */
.card .corner span {
  display: block;
  font-size: 1.5em;
}
/* line 28, ../sass/_cards.scss */
.card .corner .number {
  font-size: 1.4em;
  font-weight: bold;
}
/* line 33, ../sass/_cards.scss */
.card .corner.top {
  left: 0.4em;
  top: 0.5em;
}
/* line 38, ../sass/_cards.scss */
.card .corner.bottom {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  bottom: 0.5em;
  right: 0.4em;
}
/* line 45, ../sass/_cards.scss */
.card.ten .corner .number {
  font-size: 1.3em;
}
/* line 49, ../sass/_cards.scss */
.card .suit {
  border: 1px dashed silver;
  font-size: 3em;
  font-weight: normal;
  height: 1em;
  position: absolute;
  text-align: center;
  width: 1em;
}
/* line 58, ../sass/_cards.scss */
.card .suit.top {
  top: 0.3em;
}
/* line 62, ../sass/_cards.scss */
.card .suit.under-top {
  top: 0.9em;
}
/* line 66, ../sass/_cards.scss */
.card .suit.over-middle {
  top: 1.3em;
}
/* line 70, ../sass/_cards.scss */
.card .suit.middle {
  top: 1.8em;
}
/* line 74, ../sass/_cards.scss */
.card .suit.under-middle {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  bottom: 1.3em;
}
/* line 79, ../sass/_cards.scss */
.card .suit.over-bottom {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  bottom: 0.9em;
}
/* line 84, ../sass/_cards.scss */
.card .suit.bottom {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  bottom: 0.3em;
}
/* line 89, ../sass/_cards.scss */
.card .suit.left {
  left: 0.5em;
}
/* line 93, ../sass/_cards.scss */
.card .suit.center {
  left: 1.16em;
}
/* line 97, ../sass/_cards.scss */
.card .suit.right {
  right: 0.5em;
}
